<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hezhujun.shopping.dao.RepertoryMapper" >
  <resultMap id="BaseResultMap" type="com.hezhujun.shopping.model.Repertory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from repertory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from repertory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hezhujun.shopping.model.Repertory" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into repertory (count)
    values (#{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hezhujun.shopping.model.Repertory" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into repertory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hezhujun.shopping.model.Repertory" >
    update repertory
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hezhujun.shopping.model.Repertory" >
    update repertory
    set count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>